/* 
    Estilo que desaparece las flechas del atributo "type=number" de la etiqueta "input"
*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

body {
    height: 500px;
    background-image: url("../images/Fondo.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment: fixed;
}