<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	 <meta charset="UTF-8"> 
		
		<title>Inicio</title>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	</head>
		<header th:replace="/layouts/header :: header"></header>
			
	<body>
	
		<div class="container" >
		
		<h2>Los cursos de la categoria seleccionada son los siguientes :</h2>
					        
			<div class="row"  >
				<!-- Cards -->
				<div class="row">
				<!-- CARDS -->
				<div th:each="oferta:${ofertas}" class="col-3" >
					<div class="card" style="width: 300px;">
						
						  <div class="card-body">
						    <h5 th:text="${oferta.titulo}" ></h5>		    
						    <h5 th:text="${oferta.categoria}" class="card-text"></h5>
						    <h5 th:text="${oferta.modalidad}" class="card-text"> </h5>
						<a class="btn btn-secondary btn-sm"	th:href="@{/olaboral/registrarPostulantes/{dni}/{id}
						(id = ${oferta.codigo}, dni = ${dni})}" title="Registrar postulacion">
						 Registrarme </a>
						  </div>
						</div>
						
					</div>
					 
				</div>
				<a class="border-dark btn btn-secondary m-2" th:href="@{/ciudadano/vistaciudadano/}+${dni}" id="idCancelar" >Atras</a>
			</div>
		
		</div>
		
		
		<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
			<footer th:replace="/layouts/footer :: footer"></footer>
	</body>
	

</html>