<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Vista principal ciudadano</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body>
	<header th:replace="/layouts/header :: header"></header>
<br>
<div class="container">
	<div class="row" >

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Mi Perfil</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a th:href="@{/ciudadano/editar/}+${ciudadano.dni}" id="editarCiudadano" class="btn btn-success">Editar</a>
    <a href="#" class="btn btn-primary">Salir</a>
  </div>
</div>
	
	<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Curriculum Vitae</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <br>
    <a href="#" class="btn btn-primary">Crear</a>
    <br>
     <a href="#" class="btn btn-primary">Editar</a>
      <br>
      <a href="#" class="btn btn-primary">Descargar</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">ofertas laborales</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">ver</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Cursos Online</h5>
    <p class="card-text">ard title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">ver </a>
  </div>
</div>
	</div>
</div>
<br>
	<footer th:replace="/layouts/footer :: footer"></footer>
	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</body>
</html>


