<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Vista principal ciudadano</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body>
	<header th:replace="/layouts/header :: header"></header>
<br>


<section class="container">
	<div class="row" >

<div class="card" style="width: 18rem;">
  <img th:src="@{/images/iconoperfil.jpg}" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title"  th:text="${ciudadano.nombre}"> </h3>
     <p class="card-title" > este es tu perfil :</p>
    <p class="card-text">Aqui podras agregar/modificar tus datos personales o cerrar tu cesion.</p>
    <a th:href="@{/ciudadano/editar/}+${ciudadano.dni}" id="editarCiudadano" class="btn btn-success">Editar</a>
    <a href="#" class="btn btn-primary">Salir</a>
  </div>
</div> 

	<div class="card" style="width: 18rem;">
    <img src="../static/images/iconocv.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"> Crea tu Curriculum :</h5>
    <p class="card-text">Aqui podras crear tu curriculum vitae, verlo, modificarlo o descargarlo cuando desees.</p>
    <br>
    <a th:href="@{/ciudadano/crearcv/}+${ciudadano.dni}" class="btn btn-success">Crear</a>
   
     <a th:href="@{/curriculum/modificar/}+${ciudadano.dni}" class="btn btn-primary">Editar</a>
   
      <a th:href="@{/curriculum/vercv/}+${ciudadano.dni}" class="btn btn-primary">Ver</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="../static/images/iconotrabajo.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ofertas laborales :</h5>
    <p class="card-text">Aqui podras ver las ofertas laborales actuales en el mercado y postularte a ellas.</p>
    <a th:href="@{/ciudadano/verofertas/}+${ciudadano.dni}" class="btn btn-primary">ver</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="../static/images/iconocurso.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Cursos Online :</h5>
    <p class="card-text">Aqui podras ver los cursos actuales en el mercado y inscribirte a ellos.</p>
    <a href="#" class="btn btn-primary">ver </a>
  </div>
</div>
	</div>
</section>
<br>
	<footer th:replace="/layouts/footer :: footer"></footer>
	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</body>
</html>


